<app-header [inputSideNav]="sideNav"></app-header>

<mat-sidenav-container>
  <mat-sidenav #sideNav mode="over" opened class="sideNavStyle">
    <app-side-navigation></app-side-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-childcare-home></app-childcare-home>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
