<div>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="searchBox">
      <h2>Betreuung finden</h2>
      <form>
        <mat-form-field style="width: 100px">
          <input matInput placeholder="PLZ" />
        </mat-form-field>

        <button mat-raised-button style="margin-left: 20px" color="accent">
          <mat-icon>search</mat-icon> Suchen
        </button>
      </form>
    </div>

    <div class="searchBox">
      <h2>Job finden</h2>
      <form>
        <mat-form-field style="width: 100px">
          <input matInput placeholder="PLZ" />
        </mat-form-field>

        <button mat-raised-button style="margin-left: 20px" color="accent">
          <mat-icon>search</mat-icon> Suchen
        </button>
      </form>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="searchBox">
    <h2>Offeriere</h2>

    <button mat-raised-button color="accent">
      <mat-icon>create</mat-icon> Profil erstellen
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="searchBox">
    <h2>So gehts!</h2>
    <app-childcare-stepper></app-childcare-stepper>
  </div>
</div>
