<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Registrieren</ng-template>

      <p>Registriere Dich auf Solid Care.</p>
      <p>Eine <b>Platform</b> für die Betreuung jeglicher Art.</p>
      <button mat-raised-button color="accent">
        <mat-icon>assignment</mat-icon> Registrieren
      </button>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Profil erstellen</ng-template>
      <p>Suchst Du eine geeignete Betreuung? Oder suchst Du einen Job?</p>
      <p>Erstelle ein Profil!</p>
      <button mat-raised-button color="accent">
        <mat-icon>create</mat-icon> Profil erstellen
      </button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Suchen</ng-template>
    <p>Lass Dich mittels deines Profils finden.</p>
    <p>Nimm Dein Glück selber in die Hand und finde was zu Dir passt.</p>
    <button mat-raised-button color="accent">
      <mat-icon>search</mat-icon> Suchen
    </button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
