<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button color="accent" (click)="inputSideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Solid Care Kinderbetreuung</span>
    <span class="example-spacer"></span>

    <button mat-button><mat-icon>assignment_ind</mat-icon> Login</button>
    <button mat-button><mat-icon>assignment</mat-icon> Registrieren</button>

  </mat-toolbar-row>
</mat-toolbar>
