/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

@include mat-core();

$theme-primary: mat-palette($mat-green);
$theme-accent: mat-palette($mat-orange);

$theme-warn: mat-palette($mat-orange);

$main-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($main-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
